spring:
  application:
    name: backend
  security:
    jwt:
      secret-key: ${JWT_SECRET}
      expiration: 86400000 # 1 day
  datasource:
    url: jdbc:postgresql://postgres:5432/modus
    username: ${POSTGRES_USER}
    password: ${POSTGRES_PASSWORD}
  jpa:
    hibernate:
      ddl-auto: validate
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

logging:
  level:
    root: WARN
    com.modus.backend: INFO

management:
  endpoints:
    web:
      exposure:
        include: health
  endpoint:
    health:
      show-details: never
      probes:
        enabled: true
